<!DOCTYPE html>
<html>

<head>
        <title> MEDICAL BILL UPLOAD</title>
</head>

<body>
        <h1>Upload Medical Bill</h1>

        <form action = "/uploadMedicalBill"
        enctype ="multipart/form-data" method="POST">

                <span> Upload Medical Bill:</span>
                <input type="file" name="medBill" required/> <br>
                <input type="submit" value="Submit">
        </form>
	<h2>Get Medical Bills </h2>
	<form action = "/getMedicalBill"
	enctype="multipart/form-data" method="GET">
		<input type="submit" value="Get Medical Bills"> 
</body>
</html>
